.player{
    border:2px solid lightgray;
    margin:2px;
    width: 300px;
   
}
.player img{
    width:250px;
}
.add-btn{
    background-color: goldenrod;
    width:150px;
    height:30px;
    border:1px solid black;
    border-radius: 5px;
    cursor:hand;
}
.add-btn:hover{
    background-color: rgb(101, 80, 27);
}