.player{
    margin:5px;
    padding: 10px;
   background-color: rgb(213, 201, 201);
   
}
.player img{
    width:200px;
    height: 150px
}
.add-btn{
    background-color: goldenrod;
    width:150px;
    height:30px;
    border:1px solid black;
    border-radius: 5px;
    cursor:hand;
}
.add-btn:hover{
    background-color: rgb(101, 80, 27);
}